*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}
html{
    scroll-padding-top: 84px;
}
nav{
    background-color: #832729;

}
nav a{
    color: white !important;
}
#menu .btn{
    background-color: #180d02;
    border: 2px solid #e5af37;
}
#menu .btn:hover{
    background-color: white;
    border: 2px solid white;;
    color: #832729 !important;
}
.navbar-toggler{
    border: none !important;
    box-shadow: none !important;
}
nav .nav-item a:hover{
    color: #e5af37 !important;
}

/* carouselsilde */
#carouselExampleInterval{
    padding-top: 84px;
}
#carouselExampleInterval i{
    margin: 0 !important;
    color: #832729;
}
#carouselExampleInterval button span{ 
     margin-top: 80px ;
     
}
/* category */
#Category h2{
    font-size: 40px !important;
    font-weight: 600;
    color: #832729;
}

/* about page */
#about-page{
    background-color: #eac2b2;
}
#about-page h3{
    font-size: 40px !important;
    font-weight: 600;
}
#about-page .text-contect{
    color: #832729;
}
.container .row .about-btn{
    background-color: #832729;
    border: 2px solid #832729;
    color: white;
    border-radius: 2px;
}
.container .row .about-btn:hover{
    border: 2px solid #832729;
    color: black;
    background-color: white;
}

/* Why us page */
#Why-us{
    text-align: center;
}
#Why-us .w2{
    font-size: 40px !important;
    color: #832729;
}
#Why-us h2{
    font-weight: 600;
    font-size: 24px;
}
#Why-us i{
    color: #832729;
    margin: 20px 0;
    font-size: 50px;
}

/* Review-page */
#Review-page .card img{
    width: 100%;
}
#Review-page .card h6{
    line-height: 1.5;
}
#Review-page {
    background-color: #f5fafe;
}
#Review-page h4{
    color: #832729;
}
#Review-page h2{
    color:  #eaa28a;
}

/* Contact-page */
#Contact-page .container{
    background-color: hwb(58 54% 8%);
}
#Contact-page .row i{
    font-size: 30px;
}

#Contact-page .grpfont a i{
    margin-right: 10px;
    font-size: 20px;
}
#Contact-page .grpfont a i:hover{
    color: #eaa28a;
}
#Contact-page .bg-primary{
    background-color: #832729 !important;
}
#Contact-page .row .btn{
    border: #832729;
    background-color: #832729 !important;
}


